html, body{
    height: 100%;
    margin: 0;
    color: greenyellow;
    background-color: black;
    font-family: 'Press Start 2P', monospace;
}

canvas{
    /* border: 1px solid #d3d3d3; */
    width: 100%;
    height: 100%;
}

/* .lock-screen{
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
} */

#grid{
    background: url('scan_grid.jpeg');
    background-position: center;
    border-style: solid;
    border-color: greenyellow;
    width: 99%;
    height: 99%;
    touch-action: none;
}

#combo-options{
    text-align: center;
    padding-top: 1vh;
}

#wave-options, #harmony-options, #trem-option{
    text-align: center;
}