html, body{
    height: 100%;
    margin: 0;
    color: greenyellow;
    background-color: black;
}

canvas{
    /* border: 1px solid #d3d3d3; */
    width: 100%;
    height: 100%;
}

/* .lock-screen{
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
} */

#grid{
    background: url('scan_grid.jpeg') no-repeat;
    background-position: center;
    border-style: solid;
    border-color: greenyellow;
    width: 99%;
    height: 99%;
    touch-action: none;
}

#wave-options, #combo-options, #harmony-options, #trem-option{
    text-align: center;
}

#thumb{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}